<!-- <List></List> -->
<div>
  <h1>Let's Go, {{ picked }}!</h1>
  <div class="pokes">
    <div class="radio" class="pokemon">
      <!-- <Bg :selected="isSelected"></Bg> -->
      <!-- <Pokeball></Pokeball> -->

      <!-- <Arrow v-if="isSelected"></Arrow> -->

      <label>
        <input class="radio" type="radio" name="poke" id="name" value="name" />
        <span class="lvl">Lv. {{ lvl }}</span>

        <!-- <span class="sex" class="sex">
            <Female v-if="sex === 'female'"></Female>
            <Male v-else></Male>
          </span> -->

        <img class="sprite" :src="sprite" />
        <span class="heart"></span>
        <span class="candy"></span>
        <div class="details">
          <h2 class="name">{{ nickname }}</h2>
          <div class="hp">
            <div class="bar">
              <!-- <div
                  class="health"
                  :style="{ width: healthPercent }"
                  :class="{ low: health <= 50, critical: health <= 15 }"
                ></div> -->
            </div>
            <span class="text">{{ hitpoints }} / {{ maxhp }}</span>
          </div>
        </div>
      </label>
    </div>
  </div>
  <button class="button" @click="newTeam">New Team</button>
</div>
<img
  class="logo"
  src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1280px-International_Pok%C3%A9mon_logo.svg.png"
/>
